{% extends "layout.html" %}

{% block content %}
<h1>Sectors</h1>

<a class="header-links" href="{{ url_for('dashboard') }}">Home</a>
<a class="header-links" href="{{ url_for('sector_breakdown') }} " target="_blank" rel="noopener noreferrer">Sector Breakdown</a>
<a class="header-links" href="{{ url_for('charts') }}" target="_blank" rel="noopener noreferrer">Charts</a>
<a class="header-links" href="https://ranaroussi.github.io/yfinance/reference/api/yfinance.Screener.html#yfinance.Screener">Screener Docs</a>

{% endblock %}